.chart {
  flex: 4;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 1rem;
  color: grey;

  .title {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .chartGrid {
    stroke: rgb(228, 225, 255);
  }
}
