.new {
  display: flex;
  width: 100%;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      display: flex;
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 1rem;
      margin: 2rem;

      h1 {
        color: lightgray;
        font-size: 2rem;
      }

      .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        img {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;

        form {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          gap: 3rem;

          .formInput {
            width: 40%;

            label {
              margin-bottom: 0.5rem;
              font-size: 1.4rem;
              display: flex;
              align-items: center;
              gap: 1rem;
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }
          }

          button {
            width: 15rem;
            padding: 1rem;
            border: none;
            color: white;
            background-color: teal;
            font-size: 1.4rem;
            font-weight: bold;
            margin-top: 1rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}
