.table {
  .tableHead {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .tableCell {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 1rem;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }

    &.Pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
  }
}
