.datatable {
  height: 60rem;
  padding: 2rem;

  .datatableTitle {
    width: 100%;
    font-size: 2.4rem;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    .link {
      text-decoration: none;
      font-weight: 400;
      color: green;
      font-size: 1.6rem;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 3.2rem;
      height: 3.2rem;
      margin-right: 2rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }

    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }

    &.passive {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .viewButton {
      padding: 2px 5px;
      border-radius: 0.5rem;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }

    .deleteButton {
      padding: 2px 5px;
      border-radius: 0.5rem;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.596);
      cursor: pointer;
    }
  }
}
